<div id="homepage">
  <h1 id="hometitle">Welcome to roku video app!</h1>
  <br><br><br>
  <br><br><br>
  <a href="/parents" class="homebutton">Parents</a>
  <br><br><br>
  <br><br><br>
  <a href="/kid" class="homebutton">Children</a>
</div>
